.home{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .btn{
    background-color: blue;
    font-size: 2rem;
    border: none;
}

.btn a{
    color: white;
   
}